@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-color: chartreuse;
    font-family: 'Dancing Script', sans-serif;
}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bcard{
    width: 31.7rem;
    margin: 1rem;
}

/* header Styles */

.bcard__profile-img{
    width: 31.7rem;
    height: 31.7rem;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    object-position: top right;
}

/* body styles */
.bcard__body{
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
.bcard__heading-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
}

.bcard__heading-wrapper * + * {
    margin-top: 0.5em;
}

.bcard__name{
    color: chocolate;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 30px;
}

.bcard__title{
    color: blueviolet;
    font-weight: 400;
    font-size: 1.28rem;
}

.bcard__btn{
    color: indigo;
    background-color: burlywood;
    min-width: 11.5rem;
    height: 3.4rem;
    cursor: pointer;
    border: 1px solid #654471;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}
.bcard__btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.bcard__btn-icon{
    margin-right: 1rem;
    font-size: 1.4rem;
}

.bcard__text-wrapper{
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}
.bcard__text-wrapper * + * {
    margin-top: 1em;
}

.bcard__heading{
    color: coral;
    font-size: 1.6rem;
}

.bcard__text{
    color: darkslategray;
    font-size: 1.5rem;
}

/* footer styles */

.bcard__footer{
    height: 6.5rem;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
}

.bcard__footer-icon{
    font-size: 2.7rem;
    padding: 0.2em;
    color: lawngreen;
    background-color: darkslateblue;
    margin-right: 2.4rem;
    border-radius: 5px;
    cursor: pointer;
}

.bcard__footer-icon:last-of-type{
    margin-right: 0;
}

@media (max-height:750px){
    .main {
        height: auto;
    }
}

